/* Media Queries para responsive design */

/* Tablets y dispositivos medianos - Menor a 900px */
@media (max-width: 900px) {
    .navbar {
        background-color: rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0;
    }

    .navbar-collapse {
        background-color: white !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
    }

    /* Sección de Inicio */
    .inicio-content .title {
        font-size: 1.5rem;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .inicio-content .slogan {
        font-size: 1.2rem;
    }

    .inicio-content .description {
        font-size: 0.9rem;
        text-align: justify;
    }

    .inicio-descripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .inicio-image img,
    .producto-image img,
    .nosotros-image img {
        display: none;
    }

    .section-header {
        margin-bottom: 30px;
    }

    .section-title {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .section-subtitle {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .producto-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .producto-description {
        font-size: 1rem;
    }

    .nosotros-content p {
        font-size: 0.9rem;
    }

    .tarjeta-filosofia {
        padding: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo-tarjeta {
        display: none;
    }

    .texto-tarjeta {
        font-size: 0.8rem;
        text-align: left;
        margin: 0;
        padding: 0 10px;
    }

    .filosofiaItems {
        margin: 0 !important;
    }

    .filosofiaItems > div {
        margin-bottom: 10px;
    }

    .tarjeta-razon {
        padding: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo-razon {
        display: none;
    }

    .texto-razon {
        font-size: 0.9rem;
        text-align: left;
        margin: 0;
        padding: 0 10px;
    }

    .mapa-sucursales {
        display: none;
    }

    .tarjeta-info-contacto {
        padding: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titulo-info {
        display: none;
    }

    .texto-info {
        font-size: 0.9rem;
        text-align: left;
        margin: 0;
        padding: 0 10px;
    }

    .tarjeta-formulario-contacto {
        display: none;
    }

    .tarjeta-info-contacto {
        margin: 5px;
    }

    .footer {
        font-size: 0.5rem;
        padding: 0 10px;
    }
}
